.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.cloud-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure clouds are behind the logo and buttons */
}

@keyframes moveCloud {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cloud {
  position: absolute;
  width: 150px;
  height: auto;
  animation: moveCloud linear infinite;
  opacity: 0.8; /* Slight transparency for clouds */
}

/* Different speed for some clouds */
.cloud:nth-child(odd) {
  animation: moveCloud 15s linear infinite;
}

.home-logo {
  width: 550px;
  margin-top: 10vh;
  z-index: 10; /* Ensure logo is on top of the clouds */
}

.home-login-btn,
.home-register-btn {
  background-color: #f29fb5;
  border: none;
  color: white;
  padding: 12px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 3px 5px #965063;
  width: 200px;
  z-index: 10; /* Keep buttons above the clouds */
}

.home-login-btn:hover,
.home-register-btn:hover {
  background-color: #dd7f98;
  box-shadow: 0 6px 10px rgba(150, 80, 99, 0.9);
  transform: scale(1.05);
}

.home-login-btn:active,
.home-register-btn:active {
  transform: scale(0.93);
}

.home-login-btn {
  margin-top: 15px;
}
